* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  background: lightslategray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 1rem; /* 중간 공백 */
  grid-auto-rows: minmax(auto); /*알아서 공간 맞춤*/
}
.item {
  background: rgb(255, 0, 0);
}
.item:nth-child(odd) {
  background: rgba(255, 255, 0, 0.5);
}
