.container {
}
.box1 {
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.box2 {
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.box3 {
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.box4 {
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.box5 {
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.box6 {
  background-color: greenyellow;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
